# تجاهل ملفات البيئة
.env

# تجاهل ملفات الكاش والبايت كود
__pycache__/
*.py[cod]

# تجاهل ملفات قاعدة البيانات المحلية
*.sqlite3

# تجاهل ملفات النظام
.DS_Store
Thumbs.db

# تجاهل مجلدات IDEs
.vscode/
.idea/

# تجاهل مجلد static المؤقت لو بيتولد تلقائيًا
/staticfiles/
/media/
